
#top {
    position: relative;
    background-color: #036fab;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    /*min-height: 35px;*/
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*text-align: center;*/
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: rgb(119, 119, 119);;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

#currentUserForm {
    float: right;
    padding: 5px;
    padding-right: 20px;
}

.button {
    font-size: 12px !important;
    font-weight: bold;
}



